.sports-page {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide overflow to create a clean look */
  height: 100vh; /* Full viewport height */
}

.carousel-container {
  width: 100%;
  overflow: hidden; /* Prevent overflow from showing */
}

.carousel {
  display: flex; /* Flex layout for horizontal alignment */
}

.sport-card {
  min-width: 282px; /* Set minimum width for the card */
  height: 495px; /* Set height of the card */
  text-align: center;
  margin-right: 16px; /* Space between cards */
}

.sport-image {
  width: 100%;
  height: 70%; /* Adjust height to fit in the card */
  object-fit: cover; /* Ensure the image covers the area */
}

.sport-title {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #000; /* Adjust the color as needed */
}
